<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="81f4a6">  <td>20/10/15 12:25:59</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ApplicationFlow.launchApplication()[pri:0, instance:tests.ApplicationFlow@a7cf42f]">&gt;&gt;launchApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1369206732</td>   <td></td> </tr>
<tr bgcolor="81f4a6">  <td>20/10/15 12:26:16</td>   <td>16784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFlow.test_assertDetails()[pri:0, instance:tests.ApplicationFlow@a7cf42f]">test_assertDetails</td> 
  <td>main@1369206732</td>   <td></td> </tr>
<tr bgcolor="81f4a6">  <td>20/10/15 12:26:16</td>   <td>16797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFlow.test_basketScreen()[pri:0, instance:tests.ApplicationFlow@a7cf42f]">test_basketScreen</td> 
  <td>main@1369206732</td>   <td></td> </tr>
<tr bgcolor="81f4a6">  <td>20/10/15 12:27:04</td>   <td>65361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFlow.test_homeScreen()[pri:0, instance:tests.ApplicationFlow@a7cf42f]">test_homeScreen</td> 
  <td>main@1369206732</td>   <td></td> </tr>
<tr bgcolor="81f4a6">  <td>20/10/15 12:27:04</td>   <td>65383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFlow.test_introductoryScreens()[pri:0, instance:tests.ApplicationFlow@a7cf42f]">test_introductoryScreens</td> 
  <td>main@1369206732</td>   <td></td> </tr>
<tr bgcolor="81f4a6">  <td>20/10/15 12:27:06</td>   <td>67414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFlow.test_productDetailsScreen()[pri:0, instance:tests.ApplicationFlow@a7cf42f]">test_productDetailsScreen</td> 
  <td>main@1369206732</td>   <td></td> </tr>
<tr bgcolor="81f4a6">  <td>20/10/15 12:27:06</td>   <td>67435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFlow.test_productScreen()[pri:0, instance:tests.ApplicationFlow@a7cf42f]">test_productScreen</td> 
  <td>main@1369206732</td>   <td></td> </tr>
</table>
