<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.ApplicationFlow</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_homeScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_assertDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_basketScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_introductoryScreens</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_productDetailsScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_productScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
