<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d3ccb2">  <td>20/10/15 12:50:17</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ApplicationFlow.launchApplication()[pri:0, instance:tests.ApplicationFlow@b62d79]">&gt;&gt;launchApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="d3ccb2">  <td>20/10/15 12:51:40</td>   <td>82544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFlow.test_assertDetails()[pri:4, instance:tests.ApplicationFlow@b62d79]">test_assertDetails</td> 
  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="d3ccb2">  <td>20/10/15 12:51:40</td>   <td>82548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFlow.test_basketScreen()[pri:5, instance:tests.ApplicationFlow@b62d79]">test_basketScreen</td> 
  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="d3ccb2">  <td>20/10/15 12:50:57</td>   <td>39797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFlow.test_homeScreen()[pri:1, instance:tests.ApplicationFlow@b62d79]">test_homeScreen</td> 
  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="d3ccb2">  <td>20/10/15 12:50:29</td>   <td>12200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFlow.test_introductoryScreens()[pri:0, instance:tests.ApplicationFlow@b62d79]">test_introductoryScreens</td> 
  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="d3ccb2">  <td>20/10/15 12:51:27</td>   <td>69426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFlow.test_productDetailsScreen()[pri:3, instance:tests.ApplicationFlow@b62d79]">test_productDetailsScreen</td> 
  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="d3ccb2">  <td>20/10/15 12:51:16</td>   <td>58570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFlow.test_productScreen()[pri:2, instance:tests.ApplicationFlow@b62d79]">test_productScreen</td> 
  <td>main@1207608476</td>   <td></td> </tr>
</table>
