<h2>Reporter output</h2><table><tr><td>Application Launched Succesfully</td></tr>
<tr><td>Automatino Initiated</td></tr>
<tr><td>Application started succesfully</td></tr>
<tr><td>Introduction continue button clicked succefully</td></tr>
<tr><td>Introduction Start Shoping button clicked succefully</td></tr>
<tr><td>Introduction continue button clicked succefully</td></tr>
<tr><td>Selected Department tab succefully</td></tr>
<tr><td>Selected Department tab succefully</td></tr>
<tr><td>Selected Department tab succefully</td></tr>
<tr><td>Product details are colected from the multiple product page and click on product</td></tr>
<tr><td>Product details are colected ,Added to cart and checkout</td></tr>
<tr><td>Increased the quantity in bascket</td></tr>
<tr><td>Removed the Items from Basket</td></tr>
<tr><td>clicked on Start Shoping</td></tr>
</table>